.swiper__sliders{
    padding-left: 40px;
    margin-top: -170px;
}

.swiper__card-title1{
  color: #FFF;
  font-family: Khula;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
}
.swiperSlider{
    cursor: pointer;
   margin-left: 50px;
   height: 200px;
   width: 150px;
}

.swiper__card2{
  cursor: pointer;
  padding-left: 80px;
  margin-top: -330px;
}

.swiper__card-title2{
  z-index: 10;
  margin-left: -20px;
  color: #FFF;
  font-family: Khula;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px; 
}



.swiperSliders{
  display: flex;
  gap: 0 30px;
  background-color: #0A0909;
  width: 394px;
  height: 212px;
}

.swiper__card3{
  cursor: pointer;
  margin-top: -330px;
  padding-left: 80px;
}

.swiper__card-title3{
  z-index: 10;
  bottom: 1;
  color: #FFF;
  font-family: Khula;
  margin-left: -20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px; 
}

.swiper__card4{
  padding-left: 80px;
  margin-top: -330px;
  cursor: pointer;
}

.swiper-warpper{
   height: 200px;
}